html,
body {
  margin: 0px;
  background-color: #f7f7f7;
}

/* colors */

/* background : #f7f7f7 */
/* containers: wheat */
/* tittle : #152B4A */
/* subtitle - text : #1E3D69 */

/* ------------------------ navbar ----------------------- */

nav {
  
  width: 100%;
  background-color: #f7f7f7;
  z-index: 999;
}

.nav-container {
  display: flex;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0px;
}

/* navbar menu */
.nav-menu {
  margin: auto 0px auto auto;
}

.nav-menu > ul {
  margin: auto;
}

.nav-menu > ul > li {
  list-style-type: none;
  padding-right: 30px;
  float: left;
}

.nav-menu > ul > li > a {
  font-weight: 700;
  font-size: 1em;
  font-family: "poppins";
  letter-spacing: 0.1em;
  text-decoration: none;
  color: #1e3d69;
  padding: 10px 25px;
  transition: box-shadow 0.5s, padding 0.5s;
}

.nav-menu > ul > li > a:hover {
  padding: 11px 26px;
  background-color: white;
  outline: 3px solid #1e3d69;
  box-shadow: -7px 7px black;
}

.dropdown-icon {
  display: none;
}

/* -------------------------------------- */

.messages-body
{
  display: flex;
  margin: 10px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;  
}


.messages-navbar
{
  background-color: black;
  color: white;
    


}



















