/* 




☆ （ • •）☆
╔uu══════════════════════╗☆
  "Moukhles Nicolas 2021"
╚══════nn════════════════╝



*/

html,
body {
  margin: 0px;
  background-color: #f7f7f7;
}

/* colors */

/* background : #f7f7f7 */
/* containers: wheat */
/* tittle : #152B4A */
/* subtitle - text : #1E3D69 */

/* ------------------------ navbar ----------------------- */


  .nav-menu{
    justify-content:end ;
  }
.nav-menu-btn
{
  border: none !important;

}

.nav-menu-btn:focus{
  outline: none !important;
  box-shadow: none !important;

}

/* underline anumation */
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #1e3d69;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #1e3d69;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* --------------------- intro section --------------------------     */

.intro-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

/* intro title */
.intro-title {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

.intro-title h1 {
  color: #1e3d69;
  font-family: "poppins";
  font-size: 4em;
  padding: 10px 25px;
  text-align: center;
}

.intro-title h2 {
  color: #1e3d69;
  font-family: "Courier New", Courier, monospace;
  font-size: 3em;
  font-weight: normal;
  padding: 10px 25px;
  text-align: center;
}

.btn-container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  width: 100%;
  max-width: 900px;
}

.btn-container > button {
  font-family: "Courier New", Courier, monospace;
  color: #1e3d69;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-align: center;
  margin: 10px 20px;
  width: 150px;
  outline: 2px solid #1e3d69;
  background-color: white;
  border: none;
  padding: 10px 20px;
  box-shadow: -5px 5px gray;
  transition: width 0.1s, padding 0.1s, box-shadow 0.5s;
}

.btn-container > button:hover {
  cursor: pointer;
  box-shadow: -7px 7px #1e3d69;
  padding: 15px 25px;
  width: 170px;
  /* width: 130px; */
}

.btn-container > a > button {
  font-family: "Courier New", Courier, monospace;
  color: #1e3d69;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-align: center;
  margin: 10px 20px;
  width: 150px;
  outline: 2px solid #1e3d69;
  background-color: white;
  border: none;
  padding: 10px 20px;
  box-shadow: -5px 5px gray;
  transition: width 0.1s, padding 0.1s, box-shadow 0.5s;
}

.btn-container > a > button:hover {
  cursor: pointer;
  box-shadow: -7px 7px #1e3d69;
  padding: 15px 25px;
  width: 170px;
  /* width: 130px; */
}

.btn-container > button > a
{
  text-decoration: none;
}

/* arrow down icon  */
.title-arrow-img {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

.title-arrow-img > a > img {
  max-width: 120px;
}

/* ------------------------ MODAL ------------------------*/

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}



/* --------------------   about section  --------------------- */

.about-page > span
{
  font-size: 1em;
  font-family:  'Courier New', Courier, monospace;
  position: relative;
  padding-left: 80px;
  color: #1e3d69;
}

.about-page > span::before
{
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 50px;
  height: 1px;
  background: #333;
}

.about-page > h2{
  font-family: 'poppins';
  color: #1e3d69;
}

.about-page {
  padding: 50px;
}

.about-container {
  padding: 25px;
  align-items: center;
  margin: auto;
  max-width: 1400px;
  background-color: white;
  outline: 3px solid #1e3d69;
  box-shadow: -10px 10px gray;
}

.about-portrait {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about-portrait > img {
  max-width: 450px;

  box-shadow: 0px 4px 8px rgb(134 151 168 / 70%);
  margin-left: auto;
  margin-right: auto;
}

.about-skills {
  flex: 1;

  display: flex;
  flex-direction: column;
}

.about-skills > div {
  line-height: 1.3em;
  font-size: 1.3em;
  color: #1e3d69;
  font-family: "poppins";
  text-align: justify;
  padding: 15px;
}

/* ---------------------------- skils section ---------------------------- */

.skills-section {
  
  padding: 50px;
}

.skills-section > h2 {

  font-family: 'poppins';
  color: #1e3d69;
  padding-left: 15px;

}

.skills-section > span
{
  font-size: 1em;
  font-family:  'Courier New', Courier, monospace;
  position: relative;
  padding-left: 80px;
  color: #1e3d69;
}

.skills-section > span::before
{
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 50px;
  height: 1px;
  background: #333;
}


.skills-container {
  padding: 25px;
  box-shadow: -10px 10px gray;
  outline: 3px solid #1e3d69;
  background-color: white;
  max-width: 1200px;
  margin: auto;
}

.skills-grid {
  padding: 0em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 50px;
  list-style: none;
}

.item-container {
  margin: auto;
  box-sizing: border-box;
  padding: 10px;
  /* border-radius: 10%; */
  max-width: 130px;
  outline: 1px solid #eee;
  box-shadow: 0px 4px 8px rgb(134 151 168 / 10%);
  text-align: center;
  transition: all 0.5s;
}

.item-container:hover {
  transform: translate(5px, -5px);
  box-shadow: -10px 10px #1e3d69;
}

.item-container > p {
  text-align: center;

  font-family: "Poppins";
  color: #004759;
  font-weight: normal;
  margin-bottom: 0em;
}

.item-container > img {
  width: 100%;
  max-width: 64px;
}
/*-------------------------- Projects Container -------------------------------------*/
.projects-section
{
  padding: 50px;
}

.projects-section > h2 {
  font-family: 'poppins';
  color: #1e3d69;

}
.projects-section > span
{
  font-size: 1em;
  font-family:  'Courier New', Courier, monospace;
  position: relative;
  padding-left: 80px;
  color: #1e3d69;
}

.projects-section > span::before
{
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 50px;
  height: 1px;
  background: #333;
}
.projects-container
{
 max-width: 1600px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: 75px 50px;
  
}


.projects-container> div
{
  font-family: 'poppins';
  padding: 25px;
  border: 3px solid #1e3d69;
  box-shadow: -5px 5px gray;

}



.project > div 
{
  padding: 10px;
  box-sizing: border-box;
 
}

.project > p 
{
  text-align: center;

}
.project-image
{
  text-align: center;
}
.project-image > img
{
  max-width: 500px;
  box-shadow: 0px 4px 8px rgb(134 151 168 / 70%);
}

.project-content
{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  box-sizing: border-box;
}

.prj-tags
{
  flex-basis:40%;
}

.prj-links
{
  flex-basis: 40%
}
.tags-grid
{
  
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  gap: 10px;
  padding-left: 0;
}

.tags-grid > li 
{
  box-sizing: border-box;
  text-align: center;
  border: #333;
  border-radius: 5%;
  box-shadow: 0px 4px 8px rgb(134 151 168 / 30%);
  color: #1e3d69;
  background-color: white;
}

.prj-links > ul
{
  
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  gap: 10px;
  padding-left: 0;

}

.prj-links > ul > li
{
  text-align: center;
}

#github-icon
{
  max-width: 48px;
}

#computer-icon
{
  max-width: 48px;
}












/* -------------------------  contact section ----------------------------------------*/

.contact-section {
  padding: 50px;
}

.contact-section > h2
{
  font-family: 'poppins';
}


.contact-section > span
{
  font-size: 1em;
  font-family:  'Courier New', Courier, monospace;
  position: relative;
  padding-left: 80px;
}

.contact-section > span::before
{
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 50px;
  height: 1px;
  background: #333;
}


.contact-container {
  background-color: white;
  padding: 50px;
  outline: 3px solid #1e3d69;
  box-shadow: -10px 10px grey;
  max-width: 1400px;
  margin: auto;
  max-height: 1200px;
}

.contact-container h3 
{
  font-family: 'poppins';
  color: #1e3d69;
  font-size: larger;
}

.contact-types {
  margin-bottom: 40px;
}

.contact-types > div {
  border: 1px #eee;
  box-shadow: 0px 4px 8px rgb(134 151 168 / 50%);
  outline: 1px solid #eee;
  padding: 15px;
  box-sizing: border-box;
  text-align: center;
  flex-basis: 47%;
  margin-bottom: 30px;
  transition: all 0.5s;
  font-family: "poppins";

  color: #1e3d69;
}

.contact-types > div:hover {
  box-shadow: -8px 8px #1e3d69;
  transform: translate(3px, -3px);
}

.contact-email {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-email > a {
  text-decoration: none;
  color: #1e3d69;
}

.contact-email > img {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.contact-social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social-grid {
  /* background-color: black; */
  padding: 0px;

  list-style: none;
}

.social-grid > li > div {
  padding-bottom: 0em;
  margin-bottom: 10px;
}

.social-grid > li > div > a {
  color: #1e3d69;
  text-decoration: none;
  font-size: 0.8em;
}

/* contact form content  */


.form-row {
  display: flex;
  max-width: 800px;
  flex-direction: column;
  margin: auto auto 25px auto;
  font-family: 'poppins';

}

.form-row label{
    margin-bottom: 10px;
}



.form-row input {

  flex: 1;
  padding: 11px 20px;
  border: none;
  border-bottom: 2px solid #eee;
  background-color: #eee;
  box-shadow: 0px 4px 8px rgb(134 151 168 / 10%);
  font-family: 'poppins';
  
}

.form-row textarea
{
  flex: 1;
  padding: 11px 20px;
  border: none;
  border-bottom: 2px solid #eee;
  background-color: #eee;
  box-shadow: 0px 4px 8px rgb(134 151 168 / 10%);
  font-family: 'poppins';
}

.form-row button
{
  font-family: "Courier New", Courier, monospace;
  color: #1e3d69;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-align: center;
  margin: auto;
  width: 150px;
  outline: 2px solid #1e3d69;
  background-color: white;
  border: none;
  padding: 10px 20px;
  box-shadow: -5px 5px gray;
  transition: width 0.1s, padding 0.1s, box-shadow 0.5s;
  position: relative;
}


.form-row button:hover{
  
  cursor: pointer;
  box-shadow: -7px 7px #1e3d69;
  padding: 15px 25px;
  width: 170px;
}





/*

☆ （ • •）☆
╔uu══════════════════════╗☆
  "Moukhles Nicolas 2021"
╚══════nn════════════════╝



*/
